    #section-principal{
        position: relative;
    }
    .icon-image {
    position: relative;
    bottom: 3rem;
    width: 43vw;
    height: 35vh;
    left: 13rem;
        
    }
    
    #button-inicio{
    position: relative;
    bottom: 13rem;
    width: 31vw;
    height: 14vh;
    left: -27.7%;
    background-color: transparent;
        /*border: 0cap;
        font-size: 0cap;*/
    }
#loading{
    position: relative;
    left: -1rem;
    bottom: 60rem;
    width: 104vw;
    height: 113vh;
}

    .freelance-image{
        position: absolute;
        height: 49vh;
        width: 49vw;
        margin-left: -4%;
        margin-top: 14%;
        
    }
    
    .raiz-image{
        position: absolute;
        height: 103vh;
        width: 45vw;
        bottom: 0.4rem;
        left: -8rem;
        
    }
    /*Barra lateral de opciones   ======================================================================>*/
    #section-initial{
        position: relative;
        width: 90vw;
        height: 72vh;
    }
    .barra-botones{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 68vh;
        width: 12.4vw;
        justify-content: space-between;
        padding-left: 1rem;
        margin-top: -39.5rem;
        
    }

    #button-amarillo{
        position: absolute;
        height: 3rem;
        width: 11rem;
        left: 16%;
        top: 7%;
    }

    #button-rojo{
        position: absolute;
        height: 3rem;
        width: 11rem;
        top: 36%;
        left: -2%;
    }

    #button-azul{
        position: absolute;
        height: 3rem;
        width: 11rem;
        left: 16%;
        top: 64%;
    }

    #button-verde{
        position: absolute;
        height: 3rem;
        width: 11rem;
        left: 0%;
        top: 92%;
    }
    
    .img-background{
        position: absolute;
        bottom: 0rem;
        left: -13.4rem;
        height: 76vh;
        width: 42vw;
    }
    
    /*Seccion de contenidos     ======================================================================>*/
    
    #sections{
        position: relative;
        bottom: 12rem;
        left: 0rem;
    }
    
    .imageBack{
        position: relative;
        bottom: 1rem;
        height: 75vh;
        width: 54vw;
        padding-bottom: 11px;
    } 
    
    .button-inicio {
        background-color: transparent;
        /*border: 0cap;
        font-size: 0cap;
        height: 90px;*/
    }
    
    /*Contenedor Inicial ============================================================================>*/

    #section-inicial{
        height: 50vh;
        width: 50vw;
    }

    .contenedor-inicial{
        position: relative;
        bottom: 75rem;
        left: 4%;
        font-size: 2.3rem;
    }

    .texto-inicial{
        bottom: -33rem;
        left: -1.5rem;
        height: 12rem;
        width: 41em;
        font-size: 1.4rem;
    }

    .texto-inicial-1{
    bottom: -29rem;
    left: -1.5rem;
    height: 12rem;
    width: 41em;
    font-size: 1.4rem;
    position: relative;
    }
    
    /*Contenedor Amarillo ============================================================================>*/
    #section-amarillo{
        height: 72vh;
        width: 50vw;
    }
    .contenedor-amarillo{
        position: relative;
        bottom: 75rem;
        left: 60%;
        font-size: 2.3rem;
        
    }
    #pjSkeletonCell{
        position: absolute;
        bottom: -73rem;
        left: 6.1rem;
        height: 28rem;
        width: 28rem;
    }

    #section-y{
        position: absolute;
        bottom: -34rem;
        left: 48rem;
        height: 11rem;
        width: 11rem;
    }
    #pjSkeletonY{
        position: absolute;
        bottom: -73rem;
        left: 6.1rem;
        height: 28rem;
        width: 28rem;
    }    
    #boton-yOn {
        position: relative;
        bottom: -1rem;
        left: 0rem;
        height: 8.2rem;
        width: 10.8rem;
        background: transparent;
        border: white;
    }
    #boton-yBack {
        position: absolute;
        bottom: 3.3rem;
        left: -14rem;
        height: 3.2rem;
        width: 6rem;
        background: transparent;
        border: black;
    }
    #icon-Off-Y{
        position: absolute;
        bottom: 2rem;
        left: 0.4rem;
        height: 7rem;
        width: 10rem;
    }
    #icon-On-Y{
        position: absolute;
        bottom: 1rem;
        left: -14.8rem;
        height: 12rem;
        width: 41rem;
    }
    #section-w{
        position: absolute;
        bottom: -48rem;
        left: 9rem;
        height: 11rem;
        width: 11rem;
    }
    #pjSkeletonW{
        position: absolute;
        bottom: -73rem;
        left: 6.1rem;
        height: 28rem;
        width: 28rem;
    }
    #boton-wOn {
        position: relative;
        bottom: -1rem;
        left: 0rem;
        height: 8.2rem;
        width: 10.8rem;
        background: transparent;
        border: white;
    }
    #boton-wBack {
        position: absolute;
        bottom: 3.3rem;
        left: -14rem;
        height: 3.2rem;
        width: 6rem;
        background: transparent;
        border: black;
    }
    #icon-Off-W{
        position: absolute;
        bottom: 2rem;
        left: 0.4rem;
        height: 7rem;
        width: 10rem;
    }
    #icon-On-W{
        position: absolute;
        bottom: 1rem;
        left: -14.8rem;
        height: 12rem;
        width: 41rem;
    }
    #section-f{
        position: absolute;
        bottom: -61rem;
        left: 46rem;
        height: 11rem;
        width: 11rem;
    }
    #pjSkeletonF{
        position: absolute;
        bottom: -73rem;
        left: 6.1rem;
        height: 28rem;
        width: 28rem;
    }
    #boton-fOn {
        position: relative;
        bottom: -1rem;
        left: 0rem;
        height: 8.2rem;
        width: 10.8rem;
        background: transparent;
        border: white;
    }
    #boton-fBack {
        position: absolute;
        bottom: 3.3rem;
        left: -14rem;
        height: 3.2rem;
        width: 6rem;
        background: transparent;
        border: black;
    }
    #icon-Off-F{
        position: absolute;
        bottom: 2rem;
        left: 0.4rem;
        height: 7rem;
        width: 10rem;
    }
    #icon-On-F{
        position: absolute;
        bottom: 1rem;
        left: -14.8rem;
        height: 12rem;
        width: 41rem;
    }
    #section-m{
        position: absolute;
        bottom: -71rem;
        left: -7rem;
        height: 11rem;
        width: 11rem;
    }
    #pjSkeletonM{
        position: absolute;
        bottom: -73rem;
        left: 6.1rem;
        height: 28rem;
        width: 28rem;
    }
    #boton-mOn {
        position: relative;
        bottom: -1rem;
        left: 0rem;
        height: 8.2rem;
        width: 10.8rem;
        background: transparent;
        border: white;
    }
    #boton-mBack {
        position: absolute;
        bottom: 3.3rem;
        left: -14rem;
        height: 3.2rem;
        width: 6rem;
        background: transparent;
        border: black;
    }
    #icon-Off-M{
        position: absolute;
        bottom: 2rem;
        left: 0.4rem;
        height: 7rem;
        width: 10rem;
    }
    #icon-On-M{
        position: absolute;
        bottom: 1rem;
        left: -14.8rem;
        height: 12rem;
        width: 41rem;
    }


    
    /*Contenedor Rojo ============================================================================>*/
    #section-rojo{
        height: 72vh;
        width: 50vw;
    }

    .texto-rojo{
        position: relative;
        bottom: -40rem;
        height: 14rem;
        width: 25rem; 
        font-size: 5rem;
        left: 2%;
    }
    .contenedor-gallery{
        position: relative;
        bottom: 40rem;
        left: 27%;
        height: 29rem;
        width: 89rem;
    }
    #gallery{
        display: flex;
        overflow: auto;
        height: 24rem;
        width: 39rem;
        position: relative;
        bottom: -6rem;
        left: 8rem;
        
    }

    .items{
        height: 23rem;
        width: 39rem;
    }

    #gallery-videos{
        overflow: auto;
        height: 48rem;
        width: 45rem;
        bottom: 35rem;
        left: 59%;
        position: relative;
    }

    .videos{
        height: 41rem;
        width: 44rem;
    }


    /*Contenedor Azul ============================================================================>*/
    #section-azul{
        height: 72vh;
        width: 50vw;
    }
.parrafo-azul{
    position: relative;
    bottom: 34rem;
    left: 33rem;
}
.parrafo-azul-1{
    position: relative;
    bottom: 27rem;
    left: 38rem;
}
#pjSkeletonP{
    position: absolute;
    bottom: -6rem;
    left: 61rem;
    height: 26rem;
    width: 29rem;
}
#logo-BigBike{
    position: absolute;
    bottom: 9rem;
    left: 78rem;
    height: 30rem;
    width: 33rem;
}
    /*Contenedor Verde ============================================================================>*/
    #section-verde{
        height: 72vh;
        width: 50vw;
    }

    .contenedor-verde{
        position: relative;
        bottom: 0rem;
        left: 0rem;
        font-size: 2.3rem;
        height: 32rem;
        }
    #section-artists{
        position: relative;
        bottom: 44rem;
        left: 29rem;
        height: 39rem;
        width: 88rem;
    }
    #artista{
        position: relative;
        height: 23rem;
        width: 23rem;
        bottom: -7rem;
        left: 3rem;
    }
    .nombre{
        position: relative;
        bottom: 0rem;
        left: 0rem;
        font-size: 3rem;
        width: 16rem;
        margin: 1rem;
    }
    .cargo{
        position: relative;
        bottom: 0em;
        left: 0rem;
        font-size: 2rem;
        width: 30rem;
        margin: 1rem;
    }
    .freelance-image{
        position: absolute;
        height: 50vh;
        width: 40vw;
        bottom: -12rem;
        left: 39rem;
    }
    .hat{
        position: absolute;
        height: 13rem;
        width: 19rem;
        bottom: -3rem;
        left: 12rem;
    }