#section-principal{
    position: relative;
}
.icon-image {
    position: relative;
    width: 45vw;
    height: 36vh;
    bottom: 4rem;
    left: 19rem;
}

#button-inicio{
    position: relative;
    bottom: 15rem;
    width: 28vw;
    height: 12vh;
    left: -31rem;
    background-color: transparent;
    /*border: 0cap;
    font-size: 0cap;*/
}

/*Barra lateral de opciones   ======================================================================>*/
#section-initial{
    height: 1rem;
}
.barra-botones{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 68vh;
    width: 12.4vw;
    justify-content: space-between;
    padding-left: 27px;
    margin-top: -21.5rem;
    
}

#button-amarillo{
    position: absolute;
    height: 2.5rem;
    width: 12rem;
    left: 4.3rem;
    top: 28.7rem;
}

#button-rojo{
    position: absolute;
    height: 3rem;
    width: 12rem;
    left: 1.3rem;
    top: 41rem;
}

#button-azul{
    position: absolute;
    height: 3rem;
    width: 12rem;
    left: 4.3rem;
    top: 53rem;
}

#button-verde{
    position: absolute;
    height: 3rem;
    width: 12.3rem;
    left: 1.4rem;
    top: 65rem;
}

.img-background{
    position: absolute;
    bottom: 315px;
    height: 52vh;
    width: 19vw;
    left: 27.4rem;
}

/*Seccion de contenidos     ======================================================================>*/

#sections{
    position: relative;
    bottom: 14rem;
}

.imageBack{
    
    height: 75vh;
    width: 54vw;
    padding-bottom: 15px;
} 

.button-inicio {
    background-color: transparent;
    /*border: 0cap;
    font-size: 0cap;*/
    height: 90px;
}

.freelance-image{
    position: absolute;
    height: 50vh;
    width: 40vw;
    bottom: -51rem;
    left: 79rem;
    
}

.raiz-image{
    position: absolute;
    height: 101.4vh;
    width: 41vw;
    margin-left: -1%;
    margin-top: -1%;
    
}

/*Contenedor Inicial ============================================================================>*/
.contenedor-inicial{
    position: relative;
    font-size: 2rem;
    bottom: 47rem;
    left: 12rem;
    height: 45rem;
    width: 99rem;
}

/*Contenedor Amarillo ============================================================================>*/
#section-amarillo{
    height: 1rem;
    width: 50vw;
}
.contenedor-amarillo{
    position: relative;
    bottom: 47rem;
    left: 23rem;
    font-size: 2.3rem;
    
}
#section-w{
    position: absolute;
    bottom: -36rem;
    left: 14rem;
    height: 17rem;
    width: 54rem;
}
#boton-wOn {
    position: relative;
    bottom: -5rem;
    left: 0rem;
    height: 7.2rem;
    width: 17rem;
    background: transparent;
    border: white;
}
#boton-wX {
    position: absolute;
    bottom: 18rem;
    left: 0rem;
    height: 7.2rem;
    width: 17rem;
    background: transparent;
    border: black;
}
    #icon-Off-W{
        position: absolute;
        bottom: 2rem;
        left: 0rem;
    }
    #icon-On-W{
        position: absolute;
        bottom: 1rem;
        left: 0rem;
    }
    /*Contenedor Rojo ============================================================================>*/
    #section-rojo{
        height: 1rem;
        width: 50vw;
    }
    .texto-rojo{
        position: relative;
        bottom: -28rem;
        height: 14rem;
        width: 25rem;
        font-size: 5rem;
        left: -1%;
    }
    .contenedor-gallery{
        position: relative;
        bottom: 50rem;
        left: 27%;
        height: 50rem;
        width: 105rem;
    }
    #gallery{
        display: flex;
        overflow: auto;
        height: 24rem;
        width: 43rem;
        position: relative;
        bottom: 1rem;
        left: 21rem;
        
    }

    .items{
        height: 22rem;
        width: 42rem;
    }

    #gallery-videos{
        overflow: auto;
        height: 53rem;
        width: 44rem;
        bottom: 44rem;
        left: 66rem;
        position: relative;
    }

    .videos{
        height: 34rem;
        width: 42rem;
    }
    /*Contenedor Azul ============================================================================>*/
    #section-azul{
        height: 1rem;
        width: 50vw;
    }
    .contenedor-azul{
        position: relative;
        bottom: 47rem;
        left: 23rem;
        font-size: 2.3rem;
        
    }
    /*Contenedor Verde ============================================================================>*/
    #section-verde{
        height: 1rem;
        width: 50vw;
    }
    .contenedor-verde{
        position: relative;
        bottom: 47rem;
        left: 23rem;
        font-size: 2.3rem;
        
    }
    