#section-principal{
    position: relative;
}
.icon-image {
    position: relative;
    width: 45vw;
    height: 36vh;
    bottom: 4rem;
    left: 5rem;
}

#button-inicio{
    position: relative;
    bottom: 11rem;
    width: 32vw;
    height: 15vh;
    left: -28rem;
    background-color: transparent;
    border: 0cap;
    font-size: 0cap;
}
#loading{
    position: relative;
    left: -1rem;
    bottom: 44rem;
    width: 104vw;
    height: 113vh;
}

/*Barra lateral de opciones   ======================================================================>*/
#section-initial{
    height: 1rem;
}
.barra-botones{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 68vh;
    width: 12.4vw;
    justify-content: space-between;
    padding-left: 27px;
}

#button-amarillo{
    position: absolute;
    height: 4.8rem;
    width: 7.4rem;
    left: 1.3rem;
    top: 0.8rem;
}

#button-rojo{
    position: absolute;
    height: 4.8rem;
    width: 7.5rem;
    left: -0.7rem;
    top: 8.7rem;
}

#button-azul{
    position: absolute;
    height: 4.8rem;
    width: 7.7rem;
    left: 1.3rem;
    top: 16rem;
}

#button-verde{
    position: absolute;
    height: 4.8rem;
    width: 7.6rem;
    left: -0.5rem;
    top: 23.8rem;
}

.img-background{
    position: absolute;
    bottom: -10rem;
    height: 57vh;
    width: 33vw;
    left: -24.2rem;
}

/*Seccion de contenidos     ======================================================================>*/

#sections{
    position: relative;
    bottom: 10rem;
    left: 1rem;
    height: 54vh;
    width: 75vw;
}

.imageBack{
    
    height: 75vh;
    width: 54vw;
    padding-bottom: 15px;
} 

.button-inicio {
    background-color: transparent;
    border: 0cap;
    font-size: 0cap;
    height: 90px;
}.raiz-image{
    position: absolute;
    height: 101.4vh;
    width: 41vw;
    margin-left: -1%;
    margin-top: -1%;

}

/*Contenedor Inicial ============================================================================>*/
.contenedor-inicial{
    position: relative;
    bottom: 30rem;
    left: 12rem;
    height: 26rem;
    width: 61rem;
}
.texto-inicial{
    bottom: -3rem;
    left: -8.5rem;
    height: 12rem;
    width: 41em;
    font-size: 1.4rem;
}
.texto-inicial-1{
    bottom: 1rem;
    left: -8.5rem;
    height: 12rem;
    width: 41em;
    font-size: 1.4rem;
    position: relative;
}

/*Contenedor Amarillo ============================================================================>*/
#section-amarillo{
    height: 1rem;
    width: 50vw;
}
#parrafo-Amarillo{
    position: absolute;
    bottom: -30rem;
    left: 11.1rem;
    width: 17rem;
    font-size: 1.5rem;
}
.contenedor-amarillo{
    position: relative;
    bottom: 41rem;
    left: 22rem;
    font-size: 2.3rem;
    
}
#pjSkeletonCell{
    position: absolute;
    bottom: -39rem;
    left: -16.9rem;
    height: 28rem;
    width: 28rem;
}
#section-y{
    position: absolute;
    bottom: -10rem;
    left: 39rem;
    height: 5rem;
    width: 5rem;
}
#link-Y{
    position: absolute;
    bottom: 0.6rem;
    left: 12.1rem;
    color: transparent;
}
#pjSkeletonY{
    position: absolute;
    bottom: -39rem;
    left: -16.9rem;
    height: 28rem;
    width: 28rem;
}
    
#boton-yOn {
    position: relative;
    bottom: 0rem;
    left: -1rem;
    height: 5rem;
    width: 7rem;
    background: transparent;
    border: white;
}
#boton-yBack {
    position: absolute;
    bottom: 0rem;
    left: -11rem;
    height: 3.2rem;
    width: 4rem;
    background: transparent;
    border: black;
}
#icon-Off-Y{
    position: absolute;
    bottom: 0rem;
    left: -0.9rem;
    height: 5rem;
    width: 7rem;
}
#icon-On-Y{
    position: absolute;
    bottom: -1rem;
    left: -11.8rem;
    height: 8rem;
    width: 29rem;
}
#section-w{
    position: absolute;
    bottom: -17rem;
    left: 39rem;
    height: 5rem;
    width: 5rem;
}
#link-W{
    position: absolute;
    bottom: 0.6rem;
    left: 12.1rem;
    color: transparent;
}
#pjSkeletonW{
position: absolute;
bottom: -39rem;
left: -16.9rem;
height: 28rem;
width: 28rem;
}
#boton-wOn {
    position: relative;
    bottom: 0rem;
    left: -1rem;
    height: 5rem;
    width: 7rem;
    background: transparent;
    border: white;
}
#boton-wBack {
    position: absolute;
    bottom: 0rem;
    left: -11rem;
    height: 3.2rem;
    width: 4rem;
    background: transparent;
    border: black;
}
#icon-Off-W{
    position: absolute;
    bottom: 0rem;
    left: -0.9rem;
    height: 5rem;
    width: 7rem;
}
#icon-On-W{
    position: absolute;
    bottom: -1rem;
    left: -11.8rem;
    height: 8rem;
    width: 29rem;
}

#section-f{
    position: absolute;
    bottom: -31rem;
    left: 39rem;
    height: 5rem;
    width: 5rem;
}
#link-F{
    position: absolute;
    bottom: 0.6rem;
    left: 12.1rem;
    color: transparent;
}
#pjSkeletonF{
    position: absolute;
    bottom: -39rem;
    left: -16.9rem;
    height: 28rem;
    width: 28rem;
    }
#boton-fOn {
    position: relative;
    bottom: 0rem;
    left: -1rem;
    height: 5rem;
    width: 7rem;
    background: transparent;
    border: white;
}
#boton-fBack {
    position: absolute;
    bottom: 0rem;
    left: -11rem;
    height: 3.2rem;
    width: 4rem;
    background: transparent;
    border: black;
}
#icon-Off-F{
    position: absolute;
    bottom: 0rem;
    left: -0.9rem;
    height: 5rem;
    width: 7rem;
}
#icon-On-F{
    position: absolute;
    bottom: -1rem;
    left: -11.8rem;
    height: 8rem;
    width: 29rem;
}
#section-e{
    position: absolute;
    bottom: -24rem;
    left: 39rem;
    height: 5rem;
    width: 5rem;
}
#link-E{
    position: absolute;
    bottom: 0.6rem;
    left: 12.1rem;
    color: transparent;
}
#pjSkeletonE{
position: absolute;
bottom: -39rem;
left: -16.9rem;
height: 28rem;
width: 28rem;
}
#boton-eOn {
    position: relative;
    bottom: 0rem;
    left: -1rem;
    height: 5rem;
    width: 7rem;
    background: transparent;
    border: white;
}
#boton-eBack {
    position: absolute;
    bottom: 0rem;
    left: -11rem;
    height: 3.2rem;
    width: 4rem;
    background: transparent;
    border: black;
}
#icon-Off-E{
    position: absolute;
    bottom: 0rem;
    left: -0.9rem;
    height: 5rem;
    width: 7rem;
}
#icon-On-E{
    position: absolute;
    bottom: -1rem;
    left: -11.8rem;
    height: 8rem;
    width: 29rem;
}
#section-m{
    position: absolute;
    bottom: -38rem;
    left: 39rem;
    height: 5rem;
    width: 5rem;
}
#pjSkeletonM{
    position: absolute;
    bottom: -39rem;
    left: -16.9rem;
    height: 28rem;
    width: 28rem;
    }
#boton-mOn {
    position: relative;
    bottom: 0rem;
    left: -1rem;
    height: 5rem;
    width: 7rem;
    background: transparent;
    border: white;
}
#boton-mBack {
    position: absolute;
    bottom: 0rem;
    left: -11rem;
    height: 3.2rem;
    width: 4rem;
    background: transparent;
    border: black;
}
#icon-Off-M{
    position: absolute;
    bottom: 0rem;
    left: -0.9rem;
    height: 5rem;
    width: 7rem;
}
#icon-On-M{
    position: absolute;
    bottom: -1rem;
    left: -11.8rem;
    height: 8rem;
    width: 29rem;
}
    /*Contenedor Rojo ============================================================================>*/
#section-rojo{
    height: 1rem;
    width: 50vw;
    }
.texto-rojo{
    position: relative;
    bottom: 5rem;
    height: 7rem;
    width: 27rem;
    font-size: 3rem;
    left: 42%;
    }
.contenedor-gallery{
    position: relative;
    bottom: 25rem;
    left: 27%;
    height: 24rem;
    width: 67rem;
    }
#gallery{
    display: flex;
    overflow: auto;
    height: 19rem;
    width: 27rem;
    position: relative;
    bottom: 0rem;
    left: 3rem;
        
    }

.items{
    height: 15rem;
    width: 27rem;
    }

#gallery-videos{
    overflow: auto;
    height: 29rem;
    width: 37rem;
    bottom: 28rem;
    left: 32rem;
    position: relative;
}.videos{
    height: 20rem;
    width: 36rem;
    }
    /*Contenedor Azul ============================================================================>*/
#section-azul{
    height: 1rem;
    width: 50vw;
    }
.contenedor-azul{
    position: relative;
    bottom: 0rem;
    left: 0rem;
    font-size: 2.3rem;
    height: 32rem;
        
    }
.parrafo-azul{
    position: relative;
    bottom: 27rem;
    left: 24rem;
}

.parrafo-azul-1{
    position: relative;
    bottom: 28rem;
    left: 17rem;
    font-size: 1rem;
}
#pjSkeletonP{
    position: absolute;
    bottom: 0rem;
    left: 38rem;
    height: 22rem;
    width: 25rem;
}
#logo-BigBike{
    position: absolute;
    bottom: 9rem;
    left: 50rem;
    height: 30rem;
    width: 33rem;
}
    /*Contenedor Verde ============================================================================>*/
#section-verde{
    height: 1rem;
    width: 50vw;
    }
.contenedor-verde{
    position: relative;
    bottom: 0rem;
    left: 0rem;
    font-size: 2.3rem;
    height: 32rem;

    }
    #section-artists{
        position: relative;
        bottom: 32rem;
        left: 22rem;
        height: 28rem;
        width: 58rem;
    }
    #artista{
    position: relative;
    bottom: -6rem;
    left: -1rem;
    height: 22rem;
    width: 57rem;
    }
    .nombre{
        position: relative;
        bottom: 0rem;
        left: 0rem;
        font-size: 3rem;
        width: 16rem;
        margin: 1rem;
    }
    .cargo{
        position: relative;
        bottom: 0em;
        left: 0rem;
        font-size: 2rem;
        width: 30rem;
        margin: 1rem;
    }
.freelance-image{
    position: absolute;
    height: 50vh;
    width: 40vw;
    bottom: -2rem;
    left: 27rem;
}
.hat{
    position: absolute;
    height: 10rem;
    width: 16rem;
    bottom: 4rem;
    left: 9rem;
}
    