    #section-principal{
        position: relative;
    }
    .icon-image {
        position: relative;
        bottom: 8rem;
        width: 50vw;
        height: 37vh;
        left: 25rem;
        
    }
    
    #button-inicio{
        position: relative;
        bottom: 26rem;
        width: 36vw;
        height: 15vh;
        left: -31.7%;
        background-color: transparent;
        /*border: 0cap;
        font-size: 0cap;*/
    }

    .freelance-image{
        position: absolute;
        height: 49vh;
        width: 49vw;
        margin-left: -4%;
        margin-top: 14%;
        
    }
    
    .raiz-image{
        position: absolute;
        height: 102vh;
        width: 41vw;
        margin-left: -1%;
        margin-top: -2%;
        
    }
    /*Barra lateral de opciones   ======================================================================>*/
    #section-initial{
        position: relative;
        width: 90vw;
        height: 72vh;
    }
    .barra-botones{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 68vh;
        width: 12.4vw;
        justify-content: space-between;
        padding-left: 27px;
        margin-top: -67.5rem;
        
    }

    #button-amarillo{
        position: absolute;
        height: 4rem;
        width: 18rem;
        margin-top: 1%;
        left: 27%;
        top: 9%;
    }

    #button-rojo{
        position: absolute;
        height: 4rem;
        width: 17.4rem;
        margin-top: 107%;
        left: 7%;
    }

    #button-azul{
        position: absolute;
        height: 4rem;
        width: 18rem;
        margin-top: 182%;
        left: 27%;
    }

    #button-verde{
        position: absolute;
        height: 4rem;
        width: 18rem;
        margin-top: 257%;
        left: 10%;
    }
    
    .img-background{
        position: absolute;
        bottom: 509px;
        height: 52vh;
        width: 19vw;
    }
    
    /*Seccion de contenidos     ======================================================================>*/
    
    #sections{
        position: relative;
        bottom: 21rem;
    }
    
    .imageBack{
        position: relative;
        bottom: 4rem;
        height: 75vh;
        width: 54vw;
        padding-bottom: 11px;
    } 
    
    .button-inicio {
        background-color: transparent;
        /*border: 0cap;
        font-size: 0cap;
        height: 90px;*/
    }
    
    /*Contenedor Inicial ============================================================================>*/

    #section-inicial{
        height: 50vh;
        width: 50vw;
    }

    .contenedor-inicial{
        position: relative;
        bottom: 75rem;
        left: 4%;
        font-size: 2.3rem;
    }
    
    /*Contenedor Amarillo ============================================================================>*/
    #section-amarillo{
        height: 72vh;
        width: 50vw;
    }
    .contenedor-amarillo{
        position: relative;
        bottom: 75rem;
        left: 4%;
        font-size: 2.3rem;
        
    }

    .icon-w{
        position: relative;
        bottom: -44rem;
        left: -2rem;
        height: 13rem;
        width: 19rem;
    }

    .boton-W {
        /*position: relative;
        bottom: -3.4rem;
        left: 93rem;
        height: 6rem;
        width: 15rem;
        background: transparent;
        border: none;*/
    }

    .boton-W {
        position: relative;
        bottom: -58.8rem;
        left: -2rem;
        height: 9rem;
        width: 65rem;
        background-color: black;
        /* border: none; */
        border-radius: 8rem;
    }


    
    /*Contenedor Rojo ============================================================================>*/
    #section-rojo{
        height: 72vh;
        width: 50vw;
    }

    .texto-rojo{
        position: relative;
        bottom: -40rem;
        height: 14rem;
        width: 25rem; 
        font-size: 5rem;
        left: 2%;
    }
    .contenedor-gallery{
        position: relative;
        bottom: 69rem;
        left: 27%;
        height: 57rem;
        width: 143rem;
    }
    #gallery{
        display: flex;
        overflow: auto;
        height: 39rem;
        width: 52rem;
        position: relative;
        bottom: -8rem;
        left: 27rem;
        
    }

    .items{
        height: 27rem;
        width: 52rem;
    }

    #gallery-videos{
        overflow: auto;
        height: 76rem;
        width: 64rem;
        bottom: 60rem;
        left: 61%;
        position: relative;
    }

    .videos{
        height: 38rem;
        width: 62rem;
    }


    /*Contenedor Azul ============================================================================>*/
    #section-azul{
        height: 72vh;
        width: 50vw;
    }
    /*Contenedor Verde ============================================================================>*/
    #section-verde{
        height: 72vh;
        width: 50vw;
    }
    