    #section-principal{
        position: relative;
    }
    .icon-image {
        width: 38vw;
        height: 27vh;
    }
    
    #button-inicio{
        position: relative;
        bottom: 142px;
        width: 31vw;
        height: 14vh;
        left: -36%;
        background-color: transparent;
        /*border: 0cap;
        font-size: 0cap;*/
    }

    .freelance-image{
        position: absolute;
        height: 49vh;
        width: 49vw;
        margin-left: -4%;
        margin-top: 14%;
        
    }
    
    .raiz-image{
        position: absolute;
        height: 102vh;
        width: 41vw;
        margin-left: -1%;
        margin-top: -2%;
        
    }
    /*Barra lateral de opciones   ======================================================================>*/
    #section-initial{
        width: 90vw;
        height: 72vh;
    }
    .barra-botones{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 68vh;
        width: 12.4vw;
        justify-content: space-between;
        padding-left: 27px;
        margin-top: 3%;
        
    }

    #button-amarillo{
        position: absolute;
        height: 4rem;
        width: 20rem;
        margin-top: 1%;
        left: 27%;
        top: 9%;
    }

    #button-rojo{
        position: absolute;
        height: 4rem;
        width: 19.4rem;
        margin-top: 107%;
        left: 7%;
    }

    #button-azul{
        position: absolute;
        height: 4rem;
        width: 20rem;
        margin-top: 182%;
        left: 27%;
    }

    #button-verde{
        position: absolute;
        height: 4rem;
        width: 20rem;
        margin-top: 257%;
        left: 10%;
    }
    
    .img-background{
        position: absolute;
        bottom: 509px;
        height: 52vh;
        width: 19vw;
    }
    
    /*Seccion de contenidos     ======================================================================>*/
    
    #sections{
        position: relative;
        bottom: 113px;
    }
    
    .imageBack{
        
        height: 75vh;
        width: 54vw;
        padding-bottom: 11px;
    } 
    
    .button-inicio {
        background-color: transparent;
        /*border: 0cap;
        font-size: 0cap;
        height: 90px;*/
    }
    
    /*Contenedor Inicial ============================================================================>*/
    .contenedor-inicial{
        position: relative;
        bottom: 781px;
        margin-left: 17%;
    }
    
    /*Contenedor Amarillo ============================================================================>*/
    #section-amarillo{
        height: 50vh;
        width: 50vw;
    }
    .contenedor-amarillo{
        position: relative;
        bottom: 353px;
        margin-left: 55%;
        
    }
    /*Contenedor Rojo ============================================================================>*/
    #section-rojo{
        height: 50vh;
        width: 50vw;
    }
    .contenedor-gallery{
        position: relative;
        bottom: 81rem;
        left: 27%;
        height: 75rem;
        width: 145rem;
    }
    #gallery{
        display: flex;
        overflow: auto;
        height: 58rem;
        width: 83rem;
        position: relative;
        bottom: -17rem;
        left: 3rem;
        
    }

    .items{
        height: 45rem;
        width: 83rem;
    }

    #gallery-videos{
        overflow: auto;
        height: 101rem;
        width: 60rem;
        bottom: 81rem;
        left: 60%;
        position: relative;
    }

    .videos{
        height: 16rem;
        width: 19rem;
    }


    /*Contenedor Azul ============================================================================>*/
    /*Contenedor Verde ============================================================================>*/
    