#section-principal {
    position: relative;
}
.icon-image {
    position: relative;
    width: 98vw;
    height: 36vh;
    bottom: 4rem;
    left: -2.8rem;
}

#button-inicio {
    position: relative;
    bottom: 16rem;
    width: 69vw;
    height: 14vh;
    left: 0rem;
    background-color: transparent;
    /*border: 0cap;
    font-size: 0cap;*/
}
#loading{
    position: relative;
    bottom: 33rem;
    width: 100vw;
    height: 105vh;
}

/*Barra lateral de opciones   ======================================================================>*/
#section-initial{
    height: 1rem;
}
.barra-botones{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 68vh;
    width: 12.4vw;
    justify-content: space-between;
    padding-left: 27px;
    margin-top: -0.5rem;
    
}

#button-amarillo{
    position: absolute;
    height: 3.9rem;
    width: 4.6rem;
    left: 0rem;
    top: 0.7rem;
}

#button-rojo{
    position: relative;
    height: 4.4rem;
    width: 4.6rem;
    left: -3rem;
    top: 7.5rem;
}

#button-azul{
    position: relative;
    height: 4.3rem;
    width: 4.6rem;
    left: -1.5rem;
    top: 0.8rem;
}

#button-verde{
    position: relative;
    height: 4.2rem;
    width: 5rem;
    left: -3rem;
    top: -5.1rem;
}

.img-background{
    position: absolute;
    bottom: 36rem;
    height: 20vh;
    width: 20vw;
    left: 19.5rem;
}

/*Seccion de contenidos     ======================================================================>*/

#sections{
    position: relative;
    bottom: 14rem;
}

.imageBack{
    position: relative;
    height: 60vh;
    width: 103vw;
    bottom: 1rem;
    left: -1.5rem;
} 

.button-inicio {
    background-color: transparent;
    /*border: 0cap;
    font-size: 0cap;*/
    height: 90px;
}

.freelance-image{
    position: absolute;
    height: 50vh;
    width: 40vw;
    bottom: -51rem;
    left: 79rem;
    
}

.raiz-image{
    position: absolute;
    height: 102.4vh;
    bottom: 0rem;
    width: 83vw;
    left: -1rem;
    
}

/*Contenedor Inicial ============================================================================>*/
.contenedor-inicial{
    position: relative;
    bottom: 31rem;
    left: 5rem;
    height: 36rem;
    width: 19rem;
}
.texto-inicial {
    position: relative;
    bottom: -3rem;
    left: 1.5rem;
    height: 33rem;
    width: 18rem;
    font-size: 1rem;
}

/*Contenedor Amarillo ============================================================================>*/
#section-amarillo{
    height: 1rem;
    width: 50vw;
}
.contenedor-amarillo{
    position: relative;
    bottom: 47rem;
    left: 23rem;
    font-size: 2.3rem;
    
}
#section-y{
    position: absolute;
    bottom: -26rem;
    left: 38rem;
    height: 17rem;
    width: 17rem;
}
    
#boton-yOn {
    position: relative;
    bottom: -2rem;
    left: 3rem;
    height: 13.2rem;
    width: 10.8rem;
    background: transparent;
    border: white;
}
#boton-yBack {
    position: absolute;
    bottom: 18rem;
    left: 0rem;
    height: 7.2rem;
    width: 17rem;
    background: transparent;
    border: black;
}
#icon-Off-Y{
    position: absolute;
    bottom: 2rem;
    left: 0rem;
}
#icon-On-Y{
    position: absolute;
    bottom: 1rem;
    left: -23.3rem;
}
#section-w{
    position: absolute;
    bottom: -6rem;
    left: 67rem;
    height: 17rem;
    width: 17rem;
}
#boton-wOn {
    position: relative;
    bottom: -2rem;
    left: 3rem;
    height: 13.2rem;
    width: 10.8rem;
    background: transparent;
    border: white;
}
#boton-wBack {
    position: absolute;
    bottom: 18rem;
    left: 0rem;
    height: 7.2rem;
    width: 17rem;
    background: transparent;
    border: black;
}
#icon-Off-W{
    position: absolute;
    bottom: 2rem;
    left: 0rem;
}
#icon-On-W{
    position: absolute;
    bottom: 1rem;
    left: -23.5rem;
}
#section-f{
    position: absolute;
    bottom: -48rem;
    left: 66rem;
    height: 17rem;
    width: 17rem
}
#boton-fOn {
    position: relative;
    bottom: -2rem;
    left: 3rem;
    height: 13.2rem;
    width: 10.8rem;
    background: transparent;
    border: white;
}
#boton-fBack {
    position: absolute;
    bottom: 18rem;
    left: 0rem;
    height: 7.2rem;
    width: 17rem;
    background: transparent;
    border: black;
}
#icon-Off-F{
    position: absolute;
    bottom: 2rem;
    left: 0rem;
}
#icon-On-F{
    position: absolute;
    bottom: 1rem;
    left: -23.3rem;
}
#section-m{
    position: absolute;
    bottom: -48rem;
    left: 16rem;
    height: 17rem;
    width: 17rem;
}
#boton-mOn {
    position: relative;
    bottom: -2rem;
    left: 3rem;
    height: 13.2rem;
    width: 10.8rem;
    background: transparent;
    border: white;
}
#boton-mBack {
    position: absolute;
    bottom: 18rem;
    left: 0rem;
    height: 7.2rem;
    width: 17rem;
    background: transparent;
    border: black;
}
#icon-Off-M{
    position: absolute;
    bottom: 2rem;
    left: 0rem;
}
#icon-On-M{
    position: absolute;
    bottom: 1rem;
    left: -24rem;
}
    /*Contenedor Rojo ============================================================================>*/
#section-rojo{
        height: 1rem;
        width: 50vw;
    }
.texto-rojo{
        position: relative;
        bottom: -28rem;
        height: 14rem;
        width: 25rem;
        font-size: 5rem;
        left: -1%;
    }
.contenedor-gallery{
        position: relative;
        bottom: 50rem;
        left: 27%;
        height: 50rem;
        width: 105rem;
    }
#gallery{
        display: flex;
        overflow: auto;
        height: 24rem;
        width: 43rem;
        position: relative;
        bottom: 1rem;
        left: 21rem;
        
    }

.items{
        height: 22rem;
        width: 42rem;
    }

#gallery-videos{
        overflow: auto;
        height: 53rem;
        width: 44rem;
        bottom: 44rem;
        left: 66rem;
        position: relative;
    }

.videos{
        height: 34rem;
        width: 42rem;
    }
    /*Contenedor Azul ============================================================================>*/
#section-azul{
        height: 1rem;
        width: 50vw;
    }
.contenedor-azul{
        position: relative;
        bottom: 47rem;
        left: 23rem;
        font-size: 2.3rem;
        
    }
    /*Contenedor Verde ============================================================================>*/
#section-verde{
        height: 1rem;
        width: 50vw;
    }
.contenedor-verde{
        position: relative;
        bottom: 47rem;
        left: 23rem;
        font-size: 2.3rem;
        
    }



