#section-principal {
    position: relative;
}
.icon-image {
    position: relative;
    width: 98vw;
    height: 36vh;
    bottom: 4rem;
    left: -2.8rem;
}

#button-inicio {
    position: relative;
    bottom: 16rem;
    width: 69vw;
    height: 14vh;
    left: 0rem;
    background-color: transparent;
    /*border: 0cap;
    font-size: 0cap;*/
}
#loading{
    position: relative;
    bottom: 31rem;
    width: 48rem;
    height: 52rem;
    left: -12rem;
}

/*Barra lateral de opciones   ======================================================================>*/
#section-initial{
    height: 1rem;
}
.barra-botones{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 68vh;
    width: 12.4vw;
    justify-content: space-between;
    padding-left: 27px;
    margin-top: -0.5rem;
    
}

#button-amarillo{
    position: absolute;
    height: 4.3rem;
    width: 4.6rem;
    left: 0rem;
    top: 0.8rem;
}

#button-rojo{
    position: relative;
    height: 4.4rem;
    width: 4.6rem;
    left: -3rem;
    top: 8.3rem;
}

#button-azul{
    position: relative;
    height: 4.3rem;
    width: 4.6rem;
    left: -1.9rem;
    top: 1.2rem;
}

#button-verde{
    position: relative;
    height: 4.2rem;
    width: 5rem;
    left: -3.3rem;
    top: -5.7rem;
}

.img-background{
    position: absolute;
    bottom: 36rem;
    height: 20vh;
    width: 20vw;
    left: 20.1rem;
}

/*Seccion de contenidos     ======================================================================>*/

#sections{
    position: relative;
    bottom: 14rem;
}

.imageBack{
    position: relative;
    height: 60vh;
    width: 100vw;
    bottom: 1rem;
    left: -1.5rem;
} 

.button-inicio {
    background-color: transparent;
    /*border: 0cap;
    font-size: 0cap;*/
    height: 90px;
}.raiz-image{
    position: absolute;
    height: 102.4vh;
    bottom: 0rem;
    width: 83vw;
    left: -1rem;
    
}

/*Contenedor Inicial ============================================================================>*/
.contenedor-inicial{
    position: relative;
    bottom: 31rem;
    left: 7rem;
    height: 36rem;
    width: 16rem;
}
.texto-inicial {
    position: relative;
    bottom: -3rem;
    left: 1.5rem;
    height: 9rem;
    width: 15em;
    font-size: 1rem;
}
.texto-inicial-1 {
    position: relative;
    bottom: -5rem;
    left: 1.5rem;
    height: 9rem;
    width: 15em;
    font-size: 1rem;
}

/*Contenedor Amarillo ============================================================================>*/
#section-amarillo{
    height: 1rem;
    width: 50vw;
}
.contenedor-amarillo{
    position: relative;
    bottom: 45rem;
    left: -9rem;
    font-size: 2.3rem;
    
}
#section-y{
    position: absolute;
    bottom: -24rem;
    left: 20rem;
    height: 3.5rem;
    width: 5rem;
}
    
#boton-yOn {
    position: relative;
    bottom: 0rem;
    left: 1rem;
    height: 3.2rem;
    width: 3rem;
    background: transparent;
    border: white;
}
#boton-yBack {
    position: absolute;
    bottom: -0.1rem;
    left: -7rem;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: black;
}
#icon-Off-Y{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    height: 3.5rem;
    width: 5rem;
}
#icon-On-Y{
    position: absolute;
    bottom: -0.6rem;
    left: -7rem;
    height: 6rem;
    width: 19rem;
}
#section-w{
    position: absolute;
    bottom: -30rem;
    left: 20rem;
    height: 3.5rem;
    width: 5rem;
}
#boton-wOn {
    position: relative;
    bottom: 0rem;
    left: 1rem;
    height: 3.2rem;
    width: 3rem;
    background: transparent;
    border: white;
}
#boton-wBack {
    position: absolute;
    bottom: -0.1rem;
    left: -7rem;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: black;
}
#icon-Off-W{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    height: 3.5rem;
    width: 5rem;
}
#icon-On-W{
    position: absolute;
    bottom: -0.6rem;
    left: -7rem;
    height: 6rem;
    width: 19rem;
}
#section-f{
    position: absolute;
    bottom: -36rem;
    left: 20rem;
    height: 3.5rem;
    width: 5rem;
}
#boton-fOn {
    position: relative;
    bottom: 0rem;
    left: 1rem;
    height: 3.2rem;
    width: 3rem;
    background: transparent;
    border: white;
}
#boton-fBack {
    position: absolute;
    bottom: -0.1rem;
    left: -7rem;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: black;
}
#icon-Off-F{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    height: 3.5rem;
    width: 5rem;
}
#icon-On-F{
    position: absolute;
    bottom: -0.6rem;
    left: -7rem;
    height: 6rem;
    width: 19rem;
}
#section-m{
    position: absolute;
    bottom: -42rem;
    left: 20rem;
    height: 3.5rem;
    width: 5rem;
}
#boton-mOn {
    position: relative;
    bottom: 0rem;
    left: 1rem;
    height: 3.2rem;
    width: 3rem;
    background: transparent;
    border: white;
}
#boton-mBack {
    position: absolute;
    bottom: -0.1rem;
    left: -7rem;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: black;
}
#icon-Off-M{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    height: 3.5rem;
    width: 5rem;
    
}
#icon-On-M{
    position: absolute;
    bottom: -0.6rem;
    left: -7rem;
    height: 6rem;
    width: 19rem;
    
}
    /*Contenedor Rojo ============================================================================>*/
#section-rojo{
        height: 1rem;
        width: 50vw;
    }

.contenedor-gallery{
        position: relative;
        bottom: 25rem;
        left: 38%;
        height: 31rem;
        width: 19rem;
    }
#gallery{
        display: flex;
        overflow: auto;
        height: 12rem;
        width: 19rem;
        bottom: 0rem;
        position: relative;
        left: 0rem;
    }

.items{
    height: 10rem;
    width: 23rem;
    }

#gallery-videos{
    overflow: auto;
    height: 12rem;
    width: 19rem;
    bottom: -2rem;
    left: 0rem;
    position: relative;
    }

.videos{
    height: 12rem;
    width: 18rem;
    }
    /*Contenedor Azul ============================================================================>*/
#section-azul{
    height: 1rem;
    width: 50vw;
    }
    #section-azul{
        height: 1rem;
        width: 50vw;
        }
    .contenedor-azul{
        position: relative;
        bottom: 0rem;
        left: 0rem;
        font-size: 2.3rem;
        height: 32rem;
            
        }
    .parrafo-azul{
        position: relative;
        bottom: 23rem;
        left: 11rem;
        width: 10rem;
        font-size: 1.7rem;
    }
    .parrafo-azul-1{
        position: relative;
        bottom: 13rem;
        left: 6rem;
        font-size: 1rem;
    }
    /*Contenedor Verde ============================================================================>*/
    #section-verde{
        height: 1rem;
        width: 17vw;
        }
    .contenedor-verde{
        position: relative;
        bottom: 0rem;
        left: 0rem;
        font-size: 2.3rem;
        height: 32rem;
        }
    #section-artists{
        position: relative;
        bottom: 26rem;
        left: 8rem;
        height: 24rem;
        width: 17rem;
    }
    #artista{
        height: 24rem;
        width: 17rem;
    }
    .nombre{
        position: relative;
        bottom: 0rem;
        left: 2rem;
        font-size: 2.6rem;
        height: 3rem;
        width: 11rem;
    }
    .cargo{
        position: relative;
        bottom: -0.8rem;
        left: 3rem;
        font-size: 1.2rem;
        width: 12rem;
    }
    .freelance-image{
        position: absolute;
        height: 35vh;
        width: 55vw;
        bottom: -3.5rem;
        left: 0.3rem;
    }



